{% extends "layout.html" %}
    {% block content %}
    <h2>There is no food</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis.
    Sunt enim quasi prima elementa naturae, quibus ubertas orationis 
    adhiberi vix potest, nec equidem eam cogito consectari. Polemoni 
    et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. 
    Nunc ita separantur, ut disiuncta sint, quo nihil potest esse 
    perversius. Nam aliquando posse recte fieri dicunt nulla expectata 
    nec quaesita voluptate. Utinam quidem dicerent alium alio beatiorem! 
    Iam ruinas videres. </p>

    <p>Duo Reges: constructio interrete. Quos quidem dies quem ad modum 
    agatis et in quantam hominum facetorum urbanitatem incurratis, non 
    diconihil opus est litibus-; Ita enim vivunt quidam, ut eorum vita 
    refellatur oratio. Vides igitur, si amicitiam sua caritate metiare, 
    nihil esse praestantius, sin emolumento, summas familiaritates praediorum 
    fructuosorum mercede superari. Mihi enim satis est, ipsis non satis. Tanti 
    autem aderant vesicae et torminum morbi, ut nihil ad eorum magnitudinem 
    posset accedere. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! 
    Incendi igitur eos, qui audiunt, vides. Ea, quae dialectici nunc tradunt et 
    docent, nonne ab illis instituta sunt aut inventa sunt? Non enim actionis aut 
    officii ratio impellit ad ea, quae secundum naturam sunt, petenda, sed ab iis 
    et appetitio et actio commovetur. Deque his rebus satis multa in nostris de 
    re publica libris sunt dicta a Laelio. Facile pateremur, qui etiam nunc agendi 
    aliquid discendique causa prope contra naturam vígillas suscipere soleamus. </p>    
{% endblock %}